decorator==4.1.2
dominate==2.3.1
enum34==1.1.6
fab==1.4.2
Flask==0.12.2
Flask-AppBuilder==1.9.4
Flask-Babel==0.11.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.2.11
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
funcsigs==1.0.2
html5lib==0.9999999
idna==2.6
ipaddress==1.0.18
ipython==5.4.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
macholib==1.5.1
SQLAlchemy==1.1.14
Werkzeug==0.12.2
WTForms==2.1
